*{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: rgb(234, 191, 186);
    max-width: 70%;
    max-height: 80%;
    margin: auto;
    align-items: center;
}

.button a{
    margin: auto;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    text-decoration: none;
}

.button2 a{
    margin: auto;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    border-radius: 1.2rem;
    border: solid black;
    text-decoration: none;
}

header{
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.5fr;
    align-items: center;
    padding-left: 100px;
}

.upper-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
}